body{
    background-color: rgb(255, 217, 0);
    /*  cor do fundo da pg */
    font-family: 'Franklin Gothic Medium';
    /*  fonte de todo o texto da pg */
    
}
img{
    width:400px;
    /* largura img */
    height:400px;
    /* altura img */
}
table,tr,td,th{
    border: 8px solid rgba(13, 0, 199, 0.788);
    /* borda: espessura estilo estilo cor */
    border-collapse: collapse;
    /* unindo as bordas em uma */
    width: 800px;
    margin-bottom: 30px;
    /* margem inferior da tabela */

}